{% extends "layout.html.twig" %}
{% block contenu %}

    <div class="android-content mdl-layout__content">
    <div class="android-more-section">

    <form method="post" action="{{ path('user.editFromP') }}" style="background-color: #99CDD8;border-radius: 15px ">

        <input class="mdl-textfield__input" name="id_utilisateur"  type="hidden" value="{{donnees.id_utilisateur}}">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" >nouveau mot de passe :</label>
            <input class="mdl-textfield__input" name="password"  type="password"   required>
        </div>

        <button> valider </button>
    </form>

{% endblock %}