{% extends "layout.html.twig" %}
{% block contenu %}


{% for produit in data if data is not empty %}

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
	<div class="mdl-card__media">
		<img src="images/banette.jpg">
	</div>
	<div class="mdl-card__title">
		<h4 class="mdl-card__title-text">{{ produit.libelle_produits }}</h4>
	</div>
    <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">prix du produit: {{ produit.prix_produits }} , vendeur: </span>
    </div>
    <div class="mdl-card__actions">
        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            Plus de détails
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    {% if   app.session.get('droits') is defined and  app.session.get('droits') == 'ROLE_ADMIN' %}

	 <a href="{{ path('produit.editProduit', {id: produit.id_produits}) }}">modifier</a>
	 <a href="{{ path('produit.deleteProduit', {id: produit.id_produits}) }}">supprimer</a>

     {% endif %}

     {% endfor %}
    </div>

{% endblock %}

