{% extends "layout.html.twig" %}


{% block contenu %}

    <div class="col-md-6 mb-2"></div>
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr></tr>
        </thead>


        </tbody>
    </table>
    </div>

{% endblock %}
